<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportAI</title>
    <link rel="stylesheet" href="/static/styles-home.css">
</head>
<body>
    <header>
        <img src="/static/icones/logo.png" alt="Site Logo" class="logo">
    </header>
    <main>
        <div class="container">
            <div class="left-frame">
                {% if bmi < 18.5 %}
                <img src="/static/icones/under.png" class="body-image">
                {% elif 18.5 <= bmi < 25 %}
                <img src="/static/icones/norm.png"" class="body-image">
                {% elif 25 <= bmi < 29.9 %}
                <img src="/static/icones/over.png" class="body-image">
                {% else %}
                <img src="/static/icones/ob.png" class="body-image">
                {% endif %}
            
                <div class="bmi-info">
                    <h4>  BMI (Body Mass Index) : {{bmi}}</h4>
                    <p>{{note}}</p>

                </div>
            </div>
            <div class="right-frame">
                <!-- Chat Messages -->
                <div class="chat-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                        <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5M3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.6 26.6 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.93.93 0 0 1-.765.935c-.845.147-2.34.346-4.235.346s-3.39-.2-4.235-.346A.93.93 0 0 1 3 9.219zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a25 25 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25 25 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135"/>
                        <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2zM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5"/>
                      </svg>
                    <h4 id="qst"></h4>
                    <div id="response" class="message received"></div>
                </div>
            
                <!-- Input Field at the Bottom -->
                
                    <form action="/" method="post" class="chat-input" id="chat-input" autocomplete="off">
                        <input type="text" id="messageid" class="message-input" name="message" placeholder="Type your message..." required>
                        <button type="submit" class="send-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                              </svg>
                        </button>
                    </form>
                
            </div>
            
            

           
        </div>
    </main>
</body>
<script>
    document.getElementById('chat-input').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent page reloading

    // Get data from the form
    const formData = new FormData(this);

   // Create AJAX request
    const xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://127.0.0.1:8000/', true);

    // Set up an event when the response is received
    xhr.onload = function() {
        if (xhr.status === 200) {
           // Display the response inside a div
            const jsonResponse = JSON.parse(xhr.responseText)
            document.getElementById('response').innerText = jsonResponse.response;
            document.getElementById('qst').innerText=document.getElementById('messageid').value
            document.getElementById('messageid').value=''
        } else {
            // Display an error message if the request fails.
            document.getElementById('response').innerText = 'An error occurred: ' + xhr.statusText;
        }
    };

   // Send data to the server
    xhr.send(formData);
});

</script>
</html>
